:root {
    --main-bg-primary-color: #00675b;
    --main-bg-light-colo: #429588;
    --main-bg-dark-color: #003c32;
    --main-txt-color: #52c7b8;
    --main-border-color: #003c32;
    --main-bg-gray-color: #ededed;
    --main-success-primary-color: #329e36;
    --main-success-dark-color: #006e00;
    --main-success-light-color: #69d064;
    --main-info-primary-color: #0062af;
    --main-info-dark-color: #00397f;
    --main-info-light-color: #548fe1;
    --main-warning-primary-color: #ffbb00;
    --main-warning-dark-color: #c78b00;
    --main-warning-light-color: #ffed4d;
    --main-danger-primary-color: #ff0000;
    --main-danger-dark-color: #c20000;
    --main-danger-light-color: #ff5a36;
    --main-default-primary-color: #dbd6d6;
    --main-default-dark-color: #a9a5a5;
    --main-default-light-color: #ffffff;
    --main-black-color: #000000;
    --main-white-color: #ffff;

}
*{
	margin:0;
	font-family: arial;
	padding:0;
}
.container {
	padding-right: 35px;
	padding-left: 35px;
	margin-right: auto;
	margin-left: auto;
}
.container-fluid {
	padding-right: 10px;
	padding-left: 10px;
	margin-right: auto;
	margin-left: auto;	
}
.h1 {
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	font-size: 40px;
}
.h2 {
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;	
	font-size: 32px;
}
.h3 {
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;	
	font-size: 28px;
}
.h4 {
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;	
	font-size: 24px;
}
.h5 {
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;	
	font-size: 20px;
}
.h6 {
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;	
	font-size: 16px;
}
.small {
	font-weight: 50;
}
.mark {
    padding: .2em;
    background-color: var(--main-light-text-color);
}
.abbr[title]{
    cursor: help;
    border-bottom: 1px dotted var(--main-black-color);
}
.kbd {
	padding: 2px 4px;
	background-color: var(--main-bg-primary-color);
}
.Jumbovision{
	padding: 60px;
	color: var(--main-white-color);
	background-color: var(--main-bg-primary-color);
}
.Jumbovision-fluid{
	padding-top: 60px;
	padding-bottom: 60px;
	padding-left: 10px;
	color: var(--main-white-color);
	background-color: var(--main-bg-primary-color);
	text-align: left;
}
.alert {
	padding: 20px;
	color: var(--main-white-color);
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.center {
  text-align: center;
}
.justify {
  text-align: justify;
}
.nowrap {
  white-space: nowrap;
}
.lowercase {
  text-transform: lowercase;
}
.uppercase {
  text-transform: uppercase;
}
.text-primary {
	color: var(--main-bg-light-color);
}
.text-success{
	color: var(--main-success-light-color);
}
.text-info{
	color: var(--main-info-light-color);
}
.text-warning{
	color: var(--main-warning-light-color);
}
.text-danger{
	color: var(--main-danger-light-color);
}
.text-default{
	color: var(--main-default-primary-color);
}
.bg-primary {
	background-color: var(--main-bg-primary-color);
}
.bg-success{
	background-color: var(--main-success-primary-color);
}
.bg-info{
	background-color: var(--main-info-primary-color);
}
.bg-warning{
	background-color: var(--main-warning-primary-color);
}
.bg-danger{
	background-color: var(--main-danger-primary-color);
}
.bg-default{
	background-color: var(--main-default-primary-color);
}
.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
.clearfix {
	clear: both;
}
.btn {
    border: none;
    color: var(--main-white-color);
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}
.btn:hover{
    -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2)	
}
.btn-lg{
    padding: 24px 34px!important;
    font-size: 36px!important;
}
.btn-md{
    padding: 14px 24px!important;
    font-size: 26px!important;
}
.btn-sm{
    padding: 10px 18px!important;
    font-size: 16px!important;
}
.btn-xs{
    padding: 5px 10px!important;
    font-size: 12px!important;
}
.btn-animation {
    position: relative;
    border: none;
    padding: 14px 28px;
    font-size: 16px;
    color: var(--main-white-color);
    padding: 20px;
    text-align: center;
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;	
}
.btn-animation:after{
	display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    content: "";
    transition: all 0.8s;
}
.primary,.btn-animation:after {
    background: var(--main-bg-light-color);
}
.primary,.btn-animation:after {
    background: var(--main-success-light-color);
}
.info,.btn-animation:after {
    background: var(--main-info-light-color);
}
.danger,.btn-animation:after {
    background: var(--main-danger-light-color);
}
.warning,.btn-animation:after {
    background: var(--main-warning-light-color);
}
.default,.btn-animation:after {
    background: var(--main-default-light-color);
}
.btn-animation:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}
.primary {
	background-color: var(--main-bg-primary-color);
} 
.primary:hover {
	background-color: var(--main-bg-dark-color);

}
.success {
	background-color: var(--main-success-primary-color);
} 
.success:hover {
	background-color: var(--main-success-dark-color);

}
.info {
	background-color: var(--main-info-primary-color);
} 
.info:hover {
	background: var(--main-info-dark-color);
}
.warning {
	background-color: var(--main-warning-primary-color);
}
.warning:hover {
	background: var(--main-warning-dark-color);
}
.danger {
	background: var(--main-danger-primary-color);
	}  
.danger:hover {
	background: var(--main-danger-dark-color);
}
.default {
	background-color: var(--main-default-primary-color); 
	color: var(--main-black-color);
}  
.default:hover {
	background: var(--main-default-dark-color);
}

.btn-group-horizontal :nth-last-child(n){
    border: none;
    color: var(--main-white-color);
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    float: left; 
    display: inline-flex;
}
.btn-group-horizontal:not(:last-child) {
    border-right: none; 
}
.btn-group-horizontal:after {
    content: "";
    clear: both;
    display: table;
}
.btn-group-vertical :nth-last-child(n){
    border: none;
    color: var(--main-white-color);
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    display: block;
}
.btn-group-vertical:not(:last-child) {
    border-right: none; 
}
.btn-group-vertical:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group-flex :nth-last-child(n){
    border: none;
    color: var(--main-white-color);
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    display: inline-flex;
}
.btn-group-flex:not(:last-child) {
    border-right: none; 
}
.btn-group-flex:after {
    content: "";
    clear: both;
    display: table;
}
.input {
	height: 22px;
	border: none;
	border-bottom: 1px solid var(--main-bg-dark-color);
}	
input:focus {
	border: none;
	outline: none;
    border-bottom: 2px solid var(--main-bg-dark-color);
}